@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf");
  font-weight: 100 900;
  font-style: italic;
}

/* animations */

@keyframes up-and-down {
  from {
    transform: translateY(0);
  } 
  
  to {
    transform: translateY(-30%);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes ripple {
  from {
    transform: scale(1);
    opacity: 1;
  } 
  
  to {
    transform: scale(1.3, 1.6);
    opacity: 0;
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(2rem);
  } 

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes showOptions {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showOptionsMobile {
    0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideOptions {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* end of animations */

:root {
  --text: 0, 0%, 80%;
  --text-primary: 0, 0%, 100%;
  --text-primary-dark: 0, 0%, 100%;
  --text-secondary: 220, 60%, 50%;
  --text-dark: 0, 0%, 70%;
  --background: 220, 15%, 10%;
  --background-dark: 220, 75%, 7%;
  --background-yellow: 35, 30%, 30%;
  --background-blue: 220, 50%, 30%;
  --primary: 220, 70%, 60%;
  --secondary: 220, 100%, 7%;
  --accent: 220, 100%, 60%;

  --nav-background: 0, 0%, 100%;

  --card-border-highlight: 50, 100%, 90%;
  --card-border: 0, 0%, 35%; 
  --card-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),
                  0 2px 2px rgba(0, 0, 0, 0.25),
                  0 4px 4px rgba(0, 0, 0, 0.25),
                  0 8px 8px rgba(0, 0, 0, 0.25),
                  0 16px 16px rgba(0, 0, 0, 0.25),
                  0 32px 32px rgba(0, 0, 0, 0.15),
                  0 64px 64px rgba(0, 0, 0, 0.15);

  --golden-glow: 50, 100%, 49%;

  --section-padding: 2rem;

  --scroll-bar-thumb-color: 0, 0%, 100%;

  scroll-behavior: smooth;
}

:root.light {
  --text: 220, 60%, 30%;
  --text-primary: 220, 70%, 45%;
  --text-primary-dark: 220, 70%, 30%;
  --text-secondary: 220, 50%, 20%;
  --text-dark: 0, 0%, 70%;
  --background: 220, 60%, 90%;
  --background-dark: 220, 50%, 80%;
  --background-yellow: 40, 80%, 80%;
  --background-blue: 220, 90%, 50%;
  --primary: 220, 70%, 40%;
  --secondary: 220, 100%, 7%;
  --accent: 220, 100%, 60%;

  --nav-background: 0, 0%, 100%;

  --card-border-highlight: 220, 60%, 80%;
  --card-border: 220, 60%, 50%; 
  --card-shadow: 0 1px 1px hsla(220, 20%, 50%, 0.25),
                  0 2px 2px hsla(220, 20%, 50%, 0.25),
                  0 4px 4px hsla(220, 20%, 50%, 0.25),
                  0 8px 8px hsla(220, 20%, 50%, 0.25),
                  0 16px 16px hsla(220, 20%, 50%, 0.25),
                  0 32px 32px hsla(220, 20%, 50%, 0.15),
                  0 64px 64px hsla(220, 20%, 50%, 0.15);

  --golden-glow: 50, 100%, 70%;

  --section-padding: 2rem;

  scroll-behavior: smooth;
}

.noise-effect {
  display: none;
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease;
}

.show {
  opacity: 1;
  animation: fade-up 800ms ease;
  animation-fill-mode: backwards;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body, html {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: "Inter";
  background: hsl(var(--background));
  color: hsl(var(--text));
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body * {
  font-family: "Inter";
  display: block;
}

body::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(hsl(var(--background)), hsl(var(--background-dark)) 80%);
  filter: url(#grainy);
}

.light body::before {
  filter: url(#grainy-light);
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-top: 2rem;
  transition: transform 0.5s ease;
}

header.show {
  animation: slide-down 800ms ease;
  animation-composition: accumulate;
}


nav {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  border-radius: 100px;
  max-width: 900px;
  justify-content: space-between;
  background: hsla(var(--nav-background), 0.05);
  backdrop-filter: blur(10px);
  color: hsl(var(--text-primary));
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25),
              0 1px 1px rgba(0, 0, 0, 0.05),
              0 2px 2px rgba(0, 0, 0, 0.05),
              0 4px 4px rgba(0, 0, 0, 0.05),
              0 8px 8px rgba(0, 0, 0, 0.05);
  transition: transform 200ms ease-out, opacity 200ms ease;
}

.light nav {
  background: hsla(var(--nav-background), 0.7);
}

nav.hide {
  opacity: 0;
  transform: translateY(-200%);
  transition: transform 200ms ease-in, opacity 200ms ease;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 0.4rem 0;
  font-size: 0.9rem;
  font-weight: 300;
}

nav li {
  position: relative;
  padding: 0.4rem 1rem;
}

nav li::before {
  content: '';
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 3px;
  transform: translateX(-50%) scaleX(0) ;
  border-radius: 50px;
  background: hsl(var(--text-primary), 0.5);
  transition: transform 200ms ease;
}

nav li:hover::before, nav li.active::before {
  transform: translateX(-50%) scaleX(1);
}



nav a {
  color: inherit;
  text-decoration: none;
}

.nav-button {
  width: 1.5rem;
  aspect-ratio: 1;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

nav svg {
  width: 100%;
  aspect-ratio: 1;
  pointer-events: none;
}

.options {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  display: none;
  flex-direction: column;
  font-size: 0.9rem;
  min-width: 150px;
  padding: 0.2rem;
  border-radius: 15px;
  background: hsla(var(--nav-background), 0.05);
  backdrop-filter: blur(10px);
  color: hsl(var(--text-primary));
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25),
              0 1px 1px rgba(0, 0, 0, 0.05),
              0 2px 2px rgba(0, 0, 0, 0.05),
              0 4px 4px rgba(0, 0, 0, 0.05),
              0 8px 8px rgba(0, 0, 0, 0.05);
  animation: hideOptions 200ms ease;
}

.light .options {
  background: hsla(var(--nav-background), 0.7);
}

.options.open {
  display: flex;
  animation: showOptions 200ms ease;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.option:hover {
  background: rgba(255, 255, 255, 0.1);
}

.option button {
  position: relative;
  width: 2.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50px;
  background: lightgray;
  cursor: pointer;
}

.option button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  height: 90%;
  aspect-ratio: 1;
  background: white;
  border-radius: 50px;
  transition: transform 200ms ease;
}

.option.enabled button {
  background: hsl(110, 50%, 50%);
}

.option.enabled button::before {
  transform: translateY(-50%) translateX(75%);
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.section-heading {
  font-size: 2.2rem;
  font-weight: 800;
}

.section-description {
  max-width: 75ch;
  text-align: center;
  font-size: 1.2rem;
}

#hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background: radial-gradient(ellipse 50% 50% at top center, hsla(var(--background-yellow), 0.25), hsla(var(--background), 0)),
              radial-gradient(circle 300px at 25% 50%, hsla(var(--background-blue), 0.25), hsla(var(--background), 0));
}

#hero-img, #about-img {
  position: relative;
  transition: transform 200ms ease;
  box-shadow: var(--card-shadow);
  overflow: hidden;
  border-radius: 10px;
  will-change: transform;
}

@keyframes shine {
  100% {
    transform: translate(300%, 30%) rotate(45deg);
  }
}

#hero-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 150%;
  opacity: 0.7;
  transform: translate(-60%, -60%) rotate(45deg);
  background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
}

#hero-img:hover::after {
  animation: shine 700ms ease;
}

#hero-img:hover, #about-img:hover {
  transform: scale(102%) translateY(-1%) rotate(-3deg);
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

#hero-img {
  width: 300px;
}

#hero-img.show {
  animation-delay: 200ms;
}

#hero img {
  max-width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.intro-container {
  display: flex;
  width: min(35%, 600px);
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.greeting {
  font-size: 1.3rem;
  font-weight: 600;
  color: hsl(var(--text-secondary));
}

.greeting.show {
  animation-delay: 200ms;
}

.name {
  font-size: 3.5rem;
  font-weight: 800;
  color: hsl(var(--text-primary));
  margin-bottom: -0.4rem;
}

.name.show {
  animation-delay: 300ms;
}


.job-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: hsl(var(--text));
  transition: text-shadow 200ms ease;
}

.job-title.show{
  animation-delay: 400ms;
}


.job-title:hover {
  text-shadow: 0 0px 15px hsl(var(--golden-glow));
}

.description {
  margin-top: 0.6rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.description.show {
  animation-delay: 500ms;
}


.see-my-work {
  position: relative;
  margin-top: 1.5rem;
  text-decoration: none;
  color: hsl(var(--primary));
  font-size: 1.125rem;
  font-weight: 600;
  border: 1px solid hsl(var(--primary));
  border-radius: 10px;
  padding: 0.5rem 1.2rem;
  box-shadow: 0 2px 2px hsla(var(--primary), .30),
              0 4px 4px hsla(var(--primary), .15),
              0 8px 8px hsla(var(--primary), .05)
              ;
}

.see-my-work.show {
  animation-delay: 600ms;
}

.see-my-work:hover, .send-a-message:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-out;
}

.see-my-work::before, .send-a-message::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%; 
  height: 100%;
  border: 1px solid hsl(var(--primary));
  border-radius: 10px;
  opacity: 0;
}

.see-my-work:hover::before, .send-a-message:hover::before {
  animation: ripple 500ms ease-out;  
}

.see-my-work::after, .send-a-message::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: hsla(var(--primary), .05);
  opacity: 0;
}

.see-my-work:hover::after, .send-a-message:hover::after {
  opacity: 1;
}

.logo, .resume-link, .mailto-link, .social-media-links {
  position: absolute;
  color: hsl(var(--text-primary));
}

.logo {
  top: var(--section-padding);
  left: var(--section-padding);
  font-size: 2rem;
  font-weight: 800;
}

.logo.show, .resume-link.show {
  animation: fade-in 800ms ease-in;
}

.resume-link {
  top: var(--section-padding);
  right: var(--section-padding);
  text-decoration: none;
  font-weight: 600;
  border: 1px solid hsl(var(--text-primary));
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 2px 4px hsla(var(--text-primary), .30);
  font-weight: 300;
  transition: transform 200ms ease;
}

.resume-link:hover{
  transform: scale(105%);
  filter: contrast(200%);
}

.mailto-link {
  bottom: var(--section-padding);
  left: var(--section-padding);
  writing-mode: sideways-lr;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 0.8rem;
  transition: transform 200ms ease;
}

.mailto-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  transform: translateY(-4px);
}

.mailto-link.show, .social-media-links.show {
  animation-delay: 1000ms;
}

.social-media-links {
  bottom: var(--section-padding);
  right: var(--section-padding);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.socials-link {
  color: hsl(var(--text-primary));
  display: grid;
  align-content: center;
  transition: transform 200ms ease;
}

.socials-link:hover {
  transform: translateY(-4px);
}

.socials-link svg {
  width: 1.5rem;
  aspect-ratio: 1;
}

.scroll-down-icon {
  color: hsl(var(--text-primary));
  position: absolute;
  bottom: var(--section-padding);
  left: 50%;
  transform: translateX(-50%);
  filter: brightness(50%);
  width: 3rem;
  aspect-ratio: 1;
}

.light .scroll-down-icon {
  filter: brightness(100%);
}

.scroll-down-icon.show {
  animation: fade-in 500ms forwards, up-and-down 700ms ease-in-out alternate infinite;
  animation-composition: add;
  animation-delay: 1500ms, 2000ms;
}

#about {
  position: relative;
  padding: var(--section-padding);
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
}

#about::before {
  content: '';
  position: absolute;
  z-index: -1;
  right: 0;
  background: red;
  transform: translateX(5%) rotate(-25deg);
  background: radial-gradient(hsla(var(--background-blue), 0.3), hsla(var(--background), 0) 60%);
  width: 80%;
  height: 60%;
}

#about .section-description {
  text-align: left;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 60ch;
}

#about-img {
  width: 300px;
}

#about img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: var(--card-shadow);
}

#projects {
  min-height: 100vh;
  min-height: 100svh;
  padding: var(--section-padding);
  display: grid;
  justify-content: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  max-width: 1600px;
  padding: 2rem;
  column-gap: min(5%, 10rem);
  row-gap: 4rem;
}

.projects-intro-container {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
}

#projects .card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-rows: min-content;
  row-gap: 0.5rem;
  column-gap: 1rem;
}

.card:nth-child(3n) {
  animation-delay: 100ms;
}

.card:nth-child(3n+1) {
  animation-delay: 200ms;
}

#projects .card .styled-border, #projects .card .project-description {
  grid-column: 1 / span 2;
}

#projects .styled-border {
  position: relative;
  aspect-ratio: 16/9;
  border-radius: 5px;
  padding: 1px;
  margin-bottom: 1.5rem;
  background: radial-gradient(ellipse 40% 50% at top center, hsl(var(--card-border-highlight)), hsl(var(--card-border)));
  box-shadow: var(--card-shadow);
}

.styled-border .screenshot {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: hsl(var(--card-border));
  object-fit: cover;
}

.more-info {
  position: absolute;
  top: 50%;
  left: 50%;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: opacity 200ms ease;
} 

.light .more-info {
  background: hsla(220, 50%, 20%, 0.5);
}

.more-info:hover {
  opacity: 1;
}

.more-info:hover .tech-stack {
  animation: slide-down 200ms ease;
}

.more-info:hover .skills-learned {
  animation: slide-up 200ms ease;
}

.more-info .tech-stack {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 0.5rem;
}

.tech-stack .tech {
  width: 2rem;
  aspect-ratio: 1;
}

.more-info .skills-learned {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 0.8rem;
  row-gap: 0.5rem;
}

.skills-learned .skill {
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 0 0.5rem;
}

.project-title {
  align-self: end;
}

.project-links {
  display: flex;
  gap: 0.6rem;
  justify-content: end;
}

.project-links a {
  color: hsl(var(--text));
}

.project-links svg {
  width: 2rem;
  aspect-ratio: 1;
}

.live-project-link {
  transition: transform 200ms ease;
}

.live-project-link:hover {
  transform: rotate(-45deg);
  transition: transform 200ms cubic-bezier(0.68,-1,0.27,1.75);
}

.github-repo-link {
  transition: transform 200ms ease;
  transform-origin: bottom;
}

.github-repo-link:hover {
  transform: scale(1.1);
  transition: transform 200ms cubic-bezier(0.68,-2,0.27,1.75);
  
}

#skills {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
}

.skills-intro-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-top: 4rem;
}

.skills-list {
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 4rem;
  justify-content: center;
}

.skill-icon {
  width: 4rem;
  aspect-ratio: 1;
}

.skill-icon svg {
  width: 100%;
  aspect-ratio: 1;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.25))
          drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25))
          drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
          drop-shadow(0 8px 8px rgba(0, 0, 0, 0.25))
          drop-shadow(0 16px 16px rgba(0, 0, 0, 0.25));
}

.light .skill-icon svg {
  color: #171515;
  filter: drop-shadow(0 1px 1px hsla(220, 20%, 50%, 0.25))
        drop-shadow(0 2px 2px hsla(220, 20%, 50%, 0.25))
        drop-shadow(0 4px 4px hsla(220, 20%, 50%, 0.25))
        drop-shadow(0 8px 8px hsla(220, 20%, 50%, 0.25))
        drop-shadow(0 16px 16px hsla(220, 20%, 50%, 0.25));
}

footer {
  min-height: 100vh;
  min-height: 100lvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--section-padding);
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 1rem;
}

#contact .details {
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.details > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.details svg {
  width: 2rem;
  aspect-ratio: 1;
}

.send-a-message {
  position: relative;
  text-decoration: none;
  padding: 1rem;
  border: 1px solid hsl(var(--primary));
  border-radius: 10px;
  color: hsl(var(--primary));
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  box-shadow: 0 2px 2px hsla(var(--primary), .30),
              0 4px 4px hsla(var(--primary), .15),
              0 8px 8px hsla(var(--primary), .05)
              ;
}

.send-a-message svg {
  width: 2rem;
}

.socials-and-credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

footer .social-media-links {
  position: initial;
  flex-direction: row;
}

.credit {
  text-align: center;
}

::-webkit-scrollbar {
  width: 6px;
  background: none;
}

::-webkit-scrollbar-thumb {
  background: hsla(var(--scroll-bar-thumb-color), 0.15);
  border-radius: 50px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25),
               0 1px 1px 2px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.5);
}

.light ::-webkit-scrollbar-thumb {
  background: hsla(var(--accent), 0.8);
}

.light ::-webkit-scrollbar-thumb:hover {
  background: hsla(var(--accent), 1);
}

::-webkit-scrollbar-track {
  background: transparent;
}

#mobile-menu { 
  display: none;
  position: fixed;
  bottom: var(--section-padding);
  right: var(--section-padding);
  z-index: 2;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.5rem;
  border-radius: 100px;
  background: hsla(var(--nav-background), 0.05);
  backdrop-filter: blur(10px);
  color: hsl(var(--text-primary));
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25),
              0 1px 1px rgba(0, 0, 0, 0.05),
              0 2px 2px rgba(0, 0, 0, 0.05),
              0 4px 4px rgba(0, 0, 0, 0.05),
              0 8px 8px rgba(0, 0, 0, 0.05);
  transition: transform 200ms ease;
}

#mobile-menu * {
  pointer-events: none;
}

#mobile-menu.hide {
  transform: translateY(150%);
}

@media screen and (max-width: 1024px) {
  .section-description {
    max-width: 50ch;
  }

  header {
    width: 60%;
  }

  nav ul {
    gap: 1rem;
  }
  
  .hero-content {
    gap: 4rem;
  }

  .intro-container {
    flex: 1;
  }
  
  .name {
    font-size: 2.5rem;
  }

  .job-title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .social-media-links {
    gap: 2rem;
  }

  .socials-link svg {
    width: 2rem;
  }

  #about {
    flex-direction: column-reverse;
    gap: 5rem;
  }

  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }

  .projects-intro-container {
    grid-column: 1;

    padding: 0;
    align-items: start;
    justify-content: center;
  }

  .projects-intro-container .section-description {
    text-align: left;
  }

  .card:nth-child(3n) {
    animation-delay: 0s;
  }

  .card:nth-child(3n+1) {
    animation-delay: 0s;
  }

  .card:nth-child(even) {
    animation-delay: 100ms;
  }
}

@media screen and (max-width: 760px) {
  :root, :root.light {
    --section-padding: 1rem;
  }

  .section-heading {
    font-size: 2rem;
  }

  .section-description {
    font-size: 1rem;
  }
  
  header {
    display: none;
    height: min-content;
    width: 60%;
    top: auto;
    bottom: calc(var(--section-padding) + 4rem);
  }

  header.show-mobile {
    opacity: 1;
    display: flex;
    animation: none;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    border-radius: 15px;
    padding: 1rem;
    animation: showOptionsMobile 200ms ease;
  }

  nav.hide {
    opacity: 0;
    transform: translateY(10%);
    transition: transform 200ms ease-in, opacity 200ms ease;
  }

  nav ul {
    grid-column: 1 / span 2;
    flex-direction: column;
  }

  nav a {
    padding: 0.5rem;
  }

  .nav-button {
    width: 2.5rem;
  }

  #preferences {
    margin-left: auto;
    grid-row: 1;
    grid-column: 2;
  }

  .options {
    top: auto;
    bottom: calc(100% + 1rem);
    width: 100%;
  }

  .options.open {
    animation: showOptionsMobile 200ms ease;
  }

  .option {
    font-size: 1rem;
    padding: 1rem;
  }

  #hero {
    padding: 2rem;
  }

  .hero-content {
    flex-direction: column;
    gap: 2rem;
  }

  #hero-img {
    width: 60%;
  }
  
  .intro-container {
    width: 100%;
    align-items: center;
    gap: 0.5rem;
  }

  .intro-container * {
    text-align: center;
  }
  
  .greeting {
    font-size: 1rem;
  }

  .mailto-link, .social-media-links {
    display: none;
  }

  .name {
    font-size: 2rem;
  }

  .job-title {
    font-size: 1.5rem;
  }

  #about {
    gap: 2rem;
  }

  #about .section-heading {
    text-align: center;
  }

  .projects-grid {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  .projects-intro-container {
    align-items: center;
  }

  .projects-intro-container .section-description {
    text-align: center;
  }

  .project-links {
    gap: 1.5rem;
  }

  .card:nth-child(even) {
    animation-delay: 0s;
  }

  #skills {
    gap: 5rem;
  }

  .skills-list {
    padding: 0;
  }

  .details {
    flex-direction: column;
    gap:0.5rem;
  }

  .details * {
    font-size: 1rem;
  }

  .divider {
    display: none;
  }

  #contact {
    gap: 2rem;
  }

  #mobile-menu {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .description {
    display: none;
  }
}

.reduced-motion *, .reduced-motion *::before, .reduced-motion *::after {
  transition: none !important; 
  animation: none !important;
}